*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.banner{
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(background.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 0px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 170px;
    margin-top: 15px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 15 20px;
    position: relative;
    }
.navbar ul li{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.team-selection{
    overflow: hidden;
    text-align: center;
    background: #273b41;
    padding: 60px;
}
.team-selection h1{
    text-transform: uppercase;
    margin-bottom: 60px;
    color: white;
    font-size: 40px;
}
.border{
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background: #ffffff;
    margin-bottom: 40px;
}
.border{
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background: #009688;
    margin-bottom: 40px;
}
.ps{
    margin-bottom: 40px;
}
.ps a{
    display: inline-block;
    margin: 0 30px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
}
.ps a img{
    width: 100%;
    height: auto;
    filter: grayscale(90%);
    transition: 0.4s all;
}
.ps a:hover > img{
    filter: none;
}
.section{
    width: 600px;
    margin: auto;
    font-size: 18px;
    color: white;
    text-align: justify;
    height: 0;
    overflow: hidden;
}
.section:target{
    height: auto;
}
.section p a{
    color: #009688
}
.name{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}
*{
    margin: 0;
    padding: 0;
}
div.main{
    width: 700px;
    margin: 100px auto 0px auto;
}
h2{
    text-align: center;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div.register{
    background-color: rgba(0,0,0,0.25);
    width: 100%;
    font-size: 23px;
    border-radius: 10px;
    border: 1px solid #273b41;
    box-shadow:2px 2px 15px
    rgba(0,0,0,0,0.3);
    color: #fff;
}
form#register{
    margin: 80px;
}
label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-style: italic;
}
input#name{
    width: 550px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow:inset 1px 1px 5px
    rgba(0,0,0,0,0.3);
}
input#submit{
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    background-color: #273b41;;
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px
    rgba(0,0,0,0,0.3);
    margin-bottom: 20px;
}
label,span,h1{
    text-shadow: 1px 1px 5px
    rgba(0,0,0,0,0.3);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
